Django==5.2.13
psycopg2-binary
django-environ
django-cors-headers
django-csp
django-ace
django-polymorphic
django-permissions-policy
requests
mysql-connector-python
qrcode[pil]
djangorestframework
niimpy
celery
redis
cryptography
sphinx
myst-parser
sphinx-rtd-theme
django-survey-and-report[sankey]