Django==4.2.0
psycopg2-binary
django-environ
django-polymorphic
requests
mysql-connector-python
qrcode[pil]
djangorestframework
niimpy
celery
redis
cryptography
sphinx
myst-parser
sphinx-rtd-theme
django-survey-and-report[sankey]
