    <summary><strong>Advanced: View Your Data & API Access</strong></summary>

<h2>Your Data Sources</h2>
<ul class="data-sources-list">
{% for source in user.profile.data_sources.all %}
    <li>
        <strong>{{ source.name }}</strong> ({{ source.display_type }})

        {% if source.status == 'pending' and source.get_confirm_url %}
            <a href="{{ source.get_confirm_url }}">(Check for Data)</a>
        {% endif %}

        <a href="{% url 'view_data_source' source.id %}">(View Data)</a>

        <a href="{% url 'edit_data_source' source.id %}">(Edit)</a>

    </li>

{% empty %}
    <li>You have not added any data sources yet.</li>
{% endfor %}
</ul>
<a href="{% url 'select_data_source_type' %}" class="add-source-link">Add Data Source</a>

<h2>API Access</h2>
<p><a href="{% url 'manage_token' %}">Manage API Token</a></p>