{{ consent.source.display_type }}:
{% if consent.source.status == 'active' %}
    <span class="consent-status consent-status-active">Complete.</span>
    </br>This data source is set up.
    {% if optional %}
        <a href="{% url 'revoke_consent' consent.consent.id %}" class="revoke-link">
            (Revoke)
        </a>
    {% endif %}
{% elif consent.source.status == 'pending' %}
    <span class="consent-status consent-status-pending">Pending Setup.</span>
    </br>Setup is required for this data source.
    {% if consent.source.get_setup_url %}
        {% if optional %}
            <a href="{% url 'revoke_consent' consent.consent.id %}" class="revoke-link">
                (Revoke)
            </a>
        {% endif %}
        {% if consent.source.display_type == "Google Portability Data" %}
            <div class="google-policy-note">
                The use of information received from the Data Portability API adheres to the Data Portability API user data and developer policy, including the Limited Use Requirements.
            </div>
        {% endif %}
    {% endif %}
{% elif consent.source.status == 'processing' %}
    <span class="consent-status consent-status-processing">Waiting for data.</span>
    </br>This data source is set up and awaiting data.
    {% if consent.source.get_confirm_url %}
        <a href="{{ consent.source.get_confirm_url }}?consent_id={{ consent.consent.id }}" class="data-check-link">
            Check for data
        </a>
    {% endif %}
    <a href="{% url 'revoke_consent' consent.consent.id %}" class="revoke-link">
        (Revoke)
    </a>
{% else %}
    <span class="consent-status consent-status-inactive">Inactive.</span>
    </br>Data source is not yet active.
{% endif %}

{% if consent.consent.consent_date %}
    <br><span class="consent-date">Consented on {{ consent.consent.consent_date|date:"Y-m-d H:i" }}</span>
{% endif %}

{% for link in consent.links %}
    </br>
    <a href="{{ link.0 }}" class="data-check-link">
        {{ link.1 }}
    </a>
{% endfor %}
