<h2>{{ study.title }}</h2>

You have enrolled in {{ study.title }}.
<ul>
    <li> <a href="{% url 'study_detail' %}">See the Study Page</a> </li>
    <li>
        <a href="{% url 'withdraw_from_study' %}">Withdraw from the study.</a>
    </li>
</ul>

{% for item in data.incomplete_sources %}
<div>
    <h3> Setup Required for {{ item.source.display_type }} </h3>

    After following the setup instructions, <a href="{{ item.source.get_confirm_url }}">Click here to check for data</a>

    {% if forloop.first %}
        {% include instructions_template %}
    {% else %}
        {% include "studies/consent_action.html" with consent=item.consent study=study source=item.source %}
    {% endif %}
</div>
{% endfor %}

{% for item in data.incomplete_consents %}
<div>
    <h3>Consent Required for {{ item.type_name }}</h3>
    <a href="{% url 'consent_workflow' %}?consent_id={{ item.consent.id }}">
        <button>Continue Consent Workflow</button>
    </a>
</div>
{% endfor %}

{% if data.active_consents %}
    <div>
        <h3>Completed Required Data Sources for {{ study.title }}</h3>
        <ul>
        {% for consent in data.active_consents %}
            <li>
                {% include "dashboard_components/consent_summary.html" with consent=consent study=study optional=False %}
            </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

{% if data.optional_consents %}
    <div>
        <h3>Optional Data Sources for {{ study.title }}</h3>
        <ul>
        {% for opt_item in data.optional_consents %}
            {% if opt_item.consent.is_complete and opt_item.source %}
                <li>
                    {% include "dashboard_components/consent_summary.html" with consent=opt_item study=study optional=True %}
                </li>
            {% else %}
                <li>
                    Setup {{ opt_item.type_name }} 
                    <a href="{% url 'consent_workflow' %}?consent_id={{ opt_item.consent.id }}">here</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endif %}
