{% extends 'base.html' %}

{% block content %}
<h1>Your Dashboard</h1>
<p>Hello, {{ user.username }}!</p>


{% if pending_participations %}
    {% for participation in pending_participations %}
        <div>
            <h2>{{ participation.study.title }}</h2>
            <p>
                <strong>Registration pending.</strong> Your registration has been
                noted and a researcher will contact you by email. You can't set up
                data collection until your registration is approved.
            </p>
        </div>
    {% endfor %}
    <hr>
{% endif %}

{% if studies_data %}
    {% for study, data in studies_data.items %}
        <div>
            {% include "dashboard_components/study_detail.html" %}
        </div>
    {% endfor %}
    <hr>
{% elif not pending_participations %}
    <p>You are not currently enrolled in the study.</p>
    <p>Go to the <a href="{% url 'home' %}">front page</a> to enroll</p>
{% endif %}

{% if past_consents %}
    <h2>Past Studies</h2>
    <ul>
        {% for item in past_consents %}
            <li>{{ item.consent.study.title }}: {{ item.type_name }} (Withdrawn on {{ item.consent.revocation_date|date:"Y-m-d" }})</li>
        {% endfor %}
    </ul>
    <hr>
{% endif %}


{% include "dashboard_components/protected_identifiers.html" %}

{% if collect_tax_id %}
    {% include "dashboard_components/tax_id.html" %}
{% endif %}

<details>
    {% include "dashboard_components/advanced_section.html" %}
</details>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn">Logout</button>
</form>

{% endblock %}