{% extends 'base.html' %}

{% block content %}
<h1>Your Dashboard</h1>
<p>Hello, {{ user.username }}!</p>


{% if studies_data %}
    {% for study, data in studies_data.items %}
        <div>
            {% include "dashboard_components/study_detail.html" %}
        </div>
    {% endfor %}
    <hr>
{% else %}
    <p>You are not currently enrolled in the study.</p>
    <p>Go to the <a href="{% url 'home' %}">front page</a> to enroll</p>
{% endif %}

{% if past_consents %}
    <h2>Past Studies</h2>
    <ul>
        {% for item in past_consents %}
            <li>{{ item.consent.study.title }}: {{ item.type_name }} (Withdrawn on {{ item.consent.revocation_date|date:"Y-m-d" }})</li>
        {% endfor %}
    </ul>
    <hr>
{% endif %}


<details>
    {% include "dashboard_components/advanced_section.html" %}
</details>

<p style="margin-top: 20px;"><a href="{% url 'logout' %}">Logout</a></p>

{% endblock %}